* {
  box-sizing: border-box;
}

.fila::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

html {
  font-family: 'Open Sans';
}
.espmedio{
  display: flex;
  justify-content:space-between; 
}
progress {
	 margin-top: 4px;
}


#FotoPrincipal{
  width: 100%;
  height: auto;
  display: block;
}
#FotoAptitudes{
  width: 100%;
  height: auto;
  display: block;
}
#FotoAficiones{
  width: 100%;
  height: auto;
  display: block;
  padding-left: 8px;
  padding-right: 14px;
}
#Lisfoto{
  padding: 0;
}
#Telefono .fa{
  margin-right: 8px;
  margin-left: 2px;
}
#Telefono{
  vertical-align: middle;
}
#Documento .fa{
  margin-right: 6px;
}
#Documento{
  background: #127cc2;
}
#Correo .fa{
  margin-right: 8px;
}
#Correo{
  background: #0099dc;
}
.fila{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#principal{
  display: block;
}
.seccion1, .seccion2,.seccion3, .seccion4, .seccion5, 
.seccion6, .seccion7,.seccion10{
  padding: 15px;
}
.seccion8,.seccion9,.seccion11,.seccion12,.seccion13 {
  width: auto;
}
.seccion14 .panel-heading, .seccion14 .container{
  padding: 0px;
}
.seccion8 .marcoLiso8,.seccion9 .marcoLiso8,.seccion11 .marcoLiso8,
.seccion12 .marcoLiso8,.seccion13 .marcoLiso8,.seccion14 .marcoLiso8,
.seccion15 .marcoLiso8,.seccion16 .marcoLiso8,.seccion17 .marcoLiso8,
.seccion18 .marcoLiso8{
  text-align: center;
}
.marcoLiso8{
  padding-bottom: 10px;
}
.marcoLiso8 h3{
  font-weight: bold;
}
.seccion8 .marcoLiso8 .panel-heading,.seccion9 .marcoLiso8 .panel-heading,.seccion11 .marcoLiso8 .panel-heading,
.seccion12 .marcoLiso8 .panel-heading,.seccion13 .marcoLiso8 .panel-heading,.seccion14 .marcoLiso8 .panel-heading,
.seccion15 .marcoLiso8 .panel-heading,.seccion16 .marcoLiso8 .panel-heading,.seccion17 .marcoLiso8 .panel-heading,
.seccion18 .marcoLiso8 .panel-heading{
  padding: 0px;
}
.row  .col-sm-4 h4{
  font-weight: bold;
}
#sidebar .col-sm-12 h4{
  font-weight: bold;
}
.barra{
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e5e6e7;
}
#linkuni{
  font-size: large;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e5e6e7;
}
.barra h4, .barra h3{
  font-weight: bold;
  margin: 0;
}
#universidad{
  display: none;
}
.barrauni,.barraproy, .barradocu{
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color:#33b5e5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.barrauni h2, .barraproy h2,.barradocu h2{
  color: white;
  font-weight: bold;
  margin: 0;
}
#proyectos{
  display: none;
}
#documentos{
  display: none;
}
.nombre h1{
  margin: 0;
  color: #127cc2;
  font-weight: bold;
}
.seccion1 h3{
  font-weight: bold;
  margin-top: 10px;
}
.menu{
  height: auto;
  margin-bottom: 15px;
  background-color:#e5e6e7;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.menu li {
  padding: 10px 10px 10px 10px;
  background-color: #0b639a;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*.menu li:hover {
  background: #555;
}*/

.aside {
  margin-left: 15px;
  margin-right: 15px;
  display: block;
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.aside h2{
  margin-top: 5px;
  margin-left: 0px;
}
.aside p{
  margin: 0px 0px 0px;
  text-align: center;
}
.aside a{
  color: #0b639a;
}
.aside a:link, .aside a:visited {
  
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.aside a:hover, .aside a:active {
  color: #0b639a;
}

.aside .fa{
  margin-right: 10px;
}


.footer {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color:#127cc2;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer .fa{
  margin-right: 5px;
}
.footer .der{
  text-align: right;
}
.footer .izq{
  text-align: left;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 30%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 70%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 30%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 70%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.marcoLiso {
  margin-bottom: 1em;
  border: 1px solid #ddd;
  background: #fff;
  padding: .7em .5em;
}
.seccion5 h3{
  margin-top: 10px;
}
/*Tabla Asignaturas Universidad*/
#tablaasignaturas table {
  border-collapse: collapse;
  width: 100%;
}

#tablaasignaturas td, #tablaasignaturas th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#tablaasignaturas tr:nth-child(even) {
  background-color: #dddddd;
}

/*Imagenes proyecto y documentos*/

#myImg, #myImg2, #myImg3, #myImg4,#myImg5, #myImg6,#myImg7,#myImg8,#myImg9 {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}


/* The Modal (background) */
.modala, .modala2, .modala3, .modala4, .modala5, .modala6 , .modala7, .modala8, .modala9 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content, .modal-content2,.modal-content3,.modal-content4,.modal-content5,.modal-content6,
.modal-content7,.modal-content8,.modal-content9{
  margin: auto;
  display: block;
  width: 60%; 
}

/* Caption of Modal Image */
#caption, #caption2, #caption3, #caption4,#caption5,#caption6,#caption7,#caption8,#caption9 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption, #caption2,.modal-content2, #caption3,.modal-content3, #caption4,.modal-content4,#caption5,.modal-content5,#caption6,.modal-content6
,#caption7,.modal-content7,#caption8,.modal-content8,#caption9,.modal-content9{  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close1, .close2, .close3, .close4, .close5, .close6 , .close7, .close8, .close9{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus, .close2:hover, .close2:focus, .close3:hover, .close3:focus, .close4:hover, .close4:focus, .close5:hover, .close5:focus, .close6:hover, .close6:focus
, .close7:hover, .close7:focus, .close8:hover, .close8:focus, .close9:hover, .close9:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 600px){
  .modal-content,.modal-content2,.modal-content3,.modal-content4,.modal-content5,.modal-content6,.modal-content7,.modal-content8,.modal-content9{
    width: 100%;
  }
  .footer .der {
    text-align: left;
  }
}

/*Estilo Boton descargar*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button a{
  color: white;
}
.button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

body {
  max-width: 1000px;
  margin: 8px auto 8px auto;
  position: center;
}
.smm{
z-index: 1;
}
#videorodri{
 z-index: auto;
}
