* {
  box-sizing: border-box;
}

.fila::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

html {
  font-family: 'Open Sans';
}

#FotoPrincipal{
  width: 100%;
  height: auto;
  display: block;
}
#FotoAptitudes{
  width: 100%;
  height: auto;
  display: block;
}
#Lisfoto{
  padding: 0;
}

#Documento{
  background: #127cc2;
}
#Correo{
  background: #0099dc;
}
.fila{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: white;
}
#principal{
  display: block;
}
.seccion1, .seccion2,.seccion3, .seccion4, .seccion5, .seccion6{
  padding: 15px;
}
.marcoLiso h5{
  font-weight: bold;
}
.barra{
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e5e6e7;
}
.barra h4, .barra h3{
  font-weight: bold;
  margin: 0;
}
#universidad{
  display: none;
}
.barrauni,.barraproy, .barradocu{
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color:#33b5e5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.barrauni h2, .barraproy h2,.barradocu h2{
  color: white;
  font-weight: bold;
  margin: 0;
}
#proyectos{
  display: none;
}
#documentos{
  display: none;
}
.nombre h1{
  margin: 0;
  color: #127cc2;
  font-weight: bold;
}
.menu{
  height: auto;
  padding-bottom: 80px;
  margin-bottom: 15px;
  background-color:#e5e6e7;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.menu li {
  padding: 10px 8px 10px 8px;
  /*margin-bottom: 7px;*/
  background-color: #0b639a;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*.menu li:hover {
  background: #555;
}*/

.aside {
  display: block;
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 30%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 70%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 30%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 70%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.marcoLiso {
  margin-bottom: 1em;
  border: 1px solid #ddd;
  background: #fff;
  padding: .7em .5em;
}
.seccion5 h3{
  margin-top: 10px;
}
/*Tabla Asignaturas Universidad*/
#tablaasignaturas table {
  border-collapse: collapse;
  width: 100%;
}

#tablaasignaturas td, #tablaasignaturas th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#tablaasignaturas tr:nth-child(even) {
  background-color: #dddddd;
}